<!DOCTYPE html>
<html>
<head>
		<title>{{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
	
		<!-- <input type="text" placeholder="Enter your word here" name="text">
		<input type="submit" name="my-form"> -->
	<div class="container">
	<div class="row" style="margin-top:100px;">
		<div class="col-md-12 text-center">
			<h1>Word Matching</h1>
		</div>
	</div>
	<div class="row">
	<form action="jsondata" method="POST">
	  <div class="col-lg-6 col-lg-offset-3" style="margin-top:100px;">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Enter a word..." name="text" style="text-transform:lowercase;">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="submit">Go!</button>
	      </span>
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	  </form>
	</div><!-- /.row -->
	<div class="row" style="margin-top:50px;">
		<h5 class="text-center"><b>How it Works:</b></h5>
		<h5 class="text-center">We have four files <a href="/file1">FILE 1</a> <a href="/file2">FILE 2</a> <a href="/file3">FILE 3</a> <a href="/file4">FILE 4</a> from the novels of Nicholas Sparks.</h5>
		<h5 class="text-center">You can find the frequency of the stemming words of the entered word in search box.</h5>
	</div>
	<div class="row">
		<h5 class="text-center"><b>Example Words:</b></h5>
		<h5 class="text-center">Jamie,Noah, Allie,John,Roonie and find more in FILES</h5>
		<!-- <h5 class="text-center">You can find the frequency of the stemming words of the entered word in search box.</h5> -->
	</div>
	<div class="row">
		<h5 class="text-center"><b>Why Nicholas Sparks ?</b></h5>
		<h5 class="text-center"> I developed this mini project during the Valentine week.</h5>
		<!-- <h5 class="text-center">You can find the frequency of the stemming words of the entered word in search box.</h5> -->
	</div>
	<div class="row">
		<h5 class="text-center"><b>Find this:</b></h5>
		<h5 class="text-center">Github: <a href="https://github.com/ayusharma" target="_blank">ayusharma</a></h5>
		<!-- <h5 class="text-center">You can find the frequency of the stemming words of the entered word in search box.</h5> -->
	</div>
	</div>
	<!-- JSON Data for the D3JS Tree <br><br> {{ json }} -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</html>